.card-item{
  margin: 0 auto;
  padding-bottom: 10px;
  padding-right: 10px;

  .img-phone{
    max-height: 200px;
    max-width: 200px;
    object-fit: contain;
  }

  .img-custom-card{
    height: 20px;
    width: 20px;
  }

  .info-item{
    text-align: center;
  }

  .info-model{
    display: block;
  }

  .active{
    display: flex;
    justify-content: center;
  }

  .count{

  }
}
