<div class="modal-container">
  <button mat-icon-button (click)="close()">
    <mat-icon aria-hidden="false" color="primary" aria-label="Example home icon">close</mat-icon>
  </button>
  <h2>Добавить в корзину</h2>

  <div class="cart-container">
    <img class="img-phone" [src]="item.photo" alt="no phone">
    <div class="info-item">
      <div class="item">{{ item.model }}</div>
      <div class="item">Сумма: {{ item.price }} руб</div>
      <input type="number" class="item" [(ngModel)]="item.count" >
    </div>
  </div>

  <button mat-icon-button (click)="addItemToCart()">
    <mat-icon aria-hidden="false" color="primary" aria-label="Example home icon">add_shopping_cart</mat-icon>
  </button>
</div>

