.card-item{
  margin: 0 auto;
  padding-bottom: 10px;
  padding-right: 10px;
}

.img-phone{
  height: 200px;
  width: 200px;
}

.img-custom-card{
  height: 20px;
  width: 20px;
}

.info-item{
  text-align: center;
}

.info-model{
  display: block;
}
