<div class="card-item">
  <img class="img-phone" [src]="item.photo" alt="no phone">
  <div class="info-item">
      <div>{{item.model}}</div>
      <div>{{ item.price | currency }}</div>
  </div>
  <div class="active">
    <button mat-button color="primary" (click)="openDialog()">В корзину</button>
    <button mat-icon-button (click)="addToFavorite()">
      <mat-icon aria-hidden="false" color="primary" aria-label="Example home icon">
        <ng-container *ngIf="!item.isFavorite; else favorite">
          favorite_border
        </ng-container>
        <ng-template #favorite>
          favorite
        </ng-template>
      </mat-icon>
    </button>
  </div>
</div>

