<div class="products">
  <div class="product-wrapper">
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
  </div>
</div>
