<nav class="navbar main">
  <div class="active">
    <button mat-button color="primary"
            [routerLink]="['/']"
    >Главная</button>
  </div>
  <h1>THE BEST PHONE SHOP!</h1>
  <div class="info">
    <div class="img-header"
         [routerLink]="['/wish']">
      <button mat-icon-button>
        <mat-icon aria-hidden="false" color="primary">favorite</mat-icon>
      </button>
    </div>
    <div class="info-wish-list">
      <label [routerLink]="['/wish']">{{ countItemInWishList }} товара</label>
    </div>
    <div class="img-header">
      <a href="#" [routerLink]="['basket']">
        <img class="img-custom" [src]="basket" alt="no basket">
      </a>
    </div>
    <div class="info-buying">
      <div class="info-basket">
        <label>В корзине: {{ countItemInCart }} товара</label>
      </div>
      <div class="info-total">
        <label>На сумму: {{ totalPrice }} руб</label>
      </div>
    </div>
  </div>
</nav>
