<nav class="navbar main">
  <div class="active">
    <button mat-button color="primary"
            [routerLink]="['/']"
    >Главная</button>
  </div>
  <h1>THE BEST PHONE SHOP!</h1>
  <div class="info">
    <div class="img-header"
         [routerLink]="['/wish']">
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
      </button>
    </div>
    <div class="info-wish-list">
      <label>2 товара</label>
    </div>
    <div class="img-header">
      <a href="#" [routerLink]="['basket']">
        <img class="img-custom" [src]="basket" alt="no basket">
      </a>
    </div>
    <div class="info-buying">
      <div class="info-basket">
        <label>В корзине: 5 товаров</label>
      </div>
      <div class="info-total">
        <label>На сумму: 37428.73 руб</label>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
